
<%- include("header") -%>


<h2>This is the about of the page</h2>



<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis hic culpa modi eius asperiores laborum ullam, optio officiis deleniti fuga voluptas corrupti necessitatibus deserunt maxime magnam. Eveniet maxime recusandae voluptatibus dolorem reprehenderit pariatur velit.</p>


<%- include("footer") -%>